.model {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.568);
  visibility: hidden;
  overflow: hidden;
  z-index: 999;
}

.model img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 91px;
  margin: 0 auto;
  cursor: move;
  transition: opacity 0.4s ease, visibility 0.4s ease,
    transform 0.5s ease-in-out;
  opacity: 0;
  transform: scale(0);
}

.model.open img {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.model.open {
  visibility: visible;
}

.model.open #closesvg {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 2rem;
  height: 2rem;
  padding: 5px;
  color: #fff;
  cursor: pointer;
}

.configIcons {
  position: fixed;
  top: 92%;
  /* right: 50%; */
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* gap: 15px; */
}
